@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif !important;  
}

.section_principal-index {
    max-height: 103vh;
    background: url('/img/backgrounds/bg-pr3.png') no-repeat center/cover;
  }
  
  .header-index {
    width: 100%;
    background: transparent;
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    transition: background .1s ease;

  }

  header.scrolled {
    transition: background .3s ease;
    background: rgba(255, 255, 255, 0.8);
    height: 60px;
  }

  .header_nav-index {
    display: flex;
    width: 100%;
  }

  .header_simu-index {
    font-weight: 900 !important;
  }

  .nav_ul-index {

  }

  .nav_aprender-index {
    background-color: #fdd01c;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px 10px;
  }

  .nav_crear_cuenta-index {
    background-color: #ffde59c0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px 10px;
  }

  .nav_aprender-index:hover,
  .nav_crear_cuenta-index:hover {
    transition: background 0.5s ease;
    background-color: rgb(255, 254, 254);
  }

  .nav_ul-index a {
    font-weight: 900 !important;
  }

  .header-index a {
    font-weight: 600;
  }

  .principal_somos_simu-index {
    filter: drop-shadow(
      0 0 5px rgba(143, 139, 139, 0.8)
    );
  }

  .principal_chica_libro {
    filter: drop-shadow(
      0 0 5px rgba(0, 0, 0, .8)
    );
    mask-image: linear-gradient(
      black 90%,
      transparent
    );
  }

  .secundario_tarjetas-index {
    background-color: #fdd01c;
  }


  /* */
  .header-contenido{
    background-color: #fffeff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 12rem;
  }

  .header_nav-contenido {
    justify-content: space-between;
    align-items: center;
    height: 90%;
  }

  .header_nav-contenido a {
    font-weight: 900;
  }

  .nav_ul-contenido {
    font-weight: 900;
    font-size: 1rem;
    padding: 20px;
  }

  .nav_ul-contenido li {
    margin-top: 15px;
  }

.linea_roja-contenido {
  position: relative;
}

.linea_roja-contenido::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 90%;
  background-color: red;
  }

.body-contenido {
  background-color: #dfdeec;
}